html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.head-content {
  background-color: darkgray;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.main-content,
.contact {
  background-color: rgb(128, 128, 128);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.navigation-content {
  list-style-type: none;
}

.doc-title {
  padding: 25px;
}

#experience > h2 {
  display: inline-block;
}

#experience > h2 + p {
  display: inline-block;
  margin: 10px;
}

article + article {
  border-top: 3px solid black;
  margin-top: 60px;
}

header > ul > li {
  margin-top: 10px;
  color: red;
}

header > ul > li > a {
  font-weight: bold;
  text-decoration: none;
}

header > ul > li > a:visited {
  color: black;
}

header > ul > li > a:hover {
  color: blue;
}

header > ul > li > a:active {
  color: green;
}

::selection {
  background-color: black;
  color: white;
}

h1 ~ p::after {
  content: "🖥️";
}

h1 ~ p + p::after {
  content: "📈️";
}

h1 ~ p:nth-child(4)::after {
  content: "🎓️🖥️🖱️";
}
