html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 1em;
}

h1 + p {
  font-size: 0.25em;
}

.head-content {
  background-color: darkgray;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.nav__flexcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: rgb(128, 128, 128);
  align-items: center;
}

.nav__flex-item {
  padding: 0.4rem 0;
  margin: 0.5rem 0;
  background-color: darkgray;
  min-width: 7rem;
}

.exp__flexcontainer {
  display: flex;
  flex-direction: column;
}

.exp__flex-item {
  margin: 0;
}

nav > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

nav > a:hover {
  color: green;
}

nav > a:active {
  color: rgb(61, 214, 61);
}

.hire-me-badge {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid black;
  background-color: red;
  width: 3rem;
  font-weight: bold;
  cursor: default;
}

.hire-me-badge:hover {
  color: white;
  background-color: green;
  border: 0.2rem solid white;
}

@media screen and (min-width: 768px) {
  .nav__flexcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(128, 128, 128);
  }

  .nav__flex-item {
    text-decoration: none;
    padding: 0 1rem;
    margin: 0.2rem;
    background-color: darkgrey;
  }

  .exp__flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 992px) {
  .hire-me-badge {
    position: fixed;
  }
}

@media print {
  .hire-me-badge {
    display: none;
  }

  .nav__flexcontainer {
    display: none;
  }
}

.main-content,
.contact {
  background-color: rgb(128, 128, 128);
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

.navigation-content {
  list-style-type: none;
}

.name_profession {
  padding: 1rem;
  font-size: 4rem;
}

#experience > h2 {
  display: inline-block;
}

#experience > h2 + p {
  display: inline-block;
  margin: 1rem;
}

article + article {
  border-top: 0.2rem solid black;
  margin-top: 2rem;
}

/* header > ul > li > a {
  font-weight: bold;
  text-decoration: none;
}

header > ul > li > a:visited {
  color: black;
}

header > ul > li > a:hover {
  color: blue;
}

header > ul > li > a:active {
  color: green;
} */

::selection {
  background-color: black;
  color: white;
}

h1 ~ p::after {
  content: "🖥️";
}

h1 ~ p + p::after {
  content: "📈️";
}

h1 ~ p:nth-child(4)::after {
  content: "🎓️🖥️🖱️";
}

.main-content-header {
  position: relative;
  right: 0.8rem;
}
