html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black;
}
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

::selection {
  background-color: black;
  color: white;
}
/*========================================
------------------HEADER------------------
========================================*/
.header-name {
  font-size: 1em;
}

.header-profession {
  font-size: 0.25em;
}

.head-content {
  background-image: linear-gradient(white, rgb(128, 128, 128));
  border-bottom: 0.2rem solid black;
  padding: 20px;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}

.name_profession {
  padding: 1rem;
  font-size: 4rem;
}

.nav__flexcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: rgb(128, 128, 128);
  align-items: center;
}

.nav__flex-item {
  padding: 0.4rem 0;
  margin: 0.5rem 0;
  background-color: darkgray;
  min-width: 7rem;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav-link:hover {
  color: green;
}

.nav-link:active {
  color: rgb(61, 214, 61);
}

.header-profession::after {
  content: "🖥️";
}

.header-job::after {
  content: "📈️";
}

.header-future-profession:nth-child(4)::after {
  content: "🎓️🖥️🖱️";
}

.hire-me-badge {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid black;
  background-color: red;
  width: 3rem;
  font-weight: bold;
  cursor: default;
}

.hire-me-badge:hover {
  color: white;
  background-color: green;
  border: 0.2rem solid white;
}

/*========================================
-------------------MAIN-------------------
========================================*/

.main-content {
  background-color: rgb(128, 128, 128);
  padding: 1rem;
  max-width: 45rem;
  margin: 0 auto;
  border-radius: 1.5rem;
}

.main-content-header {
  position: relative;
  right: 0.8rem;
}

.exp__flexcontainer {
  display: flex;
  flex-direction: column;
}

.exp__flex-item {
  margin: 0;
}

article + article {
  border-top: 0.2rem solid black;
  margin-top: 2rem;
}

/*========================================
------------------FOOTER------------------
========================================*/

.contact {
  border-top: 0.2rem solid black;
  background-image: linear-gradient(rgb(128, 128, 128), white);
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.email {
  text-decoration: none;
  color: black;
}

.email:hover {
  font-weight: bold;
}

.email::after {
  content: " 📧";
}

.tel {
  color: black;
  text-decoration: none;
}

.tel:hover {
  font-weight: bold;
}

.tel::after {
  content: " ☎️";
}

/*========================================
-------------------MEDIA------------------
========================================*/
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .nav__flexcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(128, 128, 128);
  }

  .nav__flex-item {
    text-decoration: none;
    padding: 0 1rem;
    margin: 0.2rem;
    background-color: darkgrey;
  }

  .exp__flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 992px) {
  .hire-me-badge {
    position: fixed;
  }
}

@media print {
  .hire-me-badge {
    display: none;
  }

  .nav__flexcontainer {
    display: none;
  }
}
